.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	width: 100%;
	max-width: 700px;
	padding: 20px;
}

.title {
	text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

/* Input */
.textInput {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	width: 100%;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 20px 20px 10px 20px;	
	background-color: white;
}

.textInput input {
	margin-top: 10px;
}

.textInput textarea {
	width: 100%;
	min-height: 150px;
}

/* Output */
.markdownOutput {
	display: flex;
	justify-content: center;
	align-items: center;	

	width: 100%;
	margin-top: 15px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
}
